<h1>List All Greetings</h1>
<div>
	<table>
		<tr>
			<th>Index</th>
			<th>Greeting</th>
		</tr>
	<% @greeting.each do |greet| %>
		<tr>
			<td><%= greet.id %>
			<td><%= greet.greeting %></td>
			<td><%= link_to "Edit", edit_greeting_path(greet) %></td>
			<td><%= link_to "Delete", greet, method: :delete %></td>
		</tr>
		<% end %>
	</table>
</div>
<div>
	<p><%= link_to 'Create New Greeting', greetings_path, method: :new %></p>
</div>
